body {
  font-family: cursive;
  padding: 3em;
}
.gochihandfont {
  font-family: 'Gochi Hand', cursive;
  font-style: normal;
}

.bandmembers {
  font-style: italic;
}
#albumimage {
  background:url("supertaranta.jpg") no-repeat;
  height: 300px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.title {
  background-color: white;
  color: red;
  margin:auto;
  text-align: center;
}

a:link {
  font-size: 1.5em;
  color: red;
  text-decoration: none;
}

a:visited {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
  background-color: #00ff00;
}

a:active {
  color: black;
  text-decoration: none;
}

hr {
  border: .25em;
  border: solid;
  color:#00ff00;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ccffcc;
}

tr, th, td {
  border: .25em solid #00ff00;
}

tr {
  text-align: center;
}
td {
  font-style: italic;
}
