body {
  font-family: cursive;
  padding: 3em;
}
tbody tr:nth-child(even) {
  background-color: #9dff9d;
}
tbody tr:nth-child(odd) {
  background-color: #ff9d9d;
}
.gochihandfont {
  font-family: 'Gochi Hand', cursive;
  font-style: normal;
}
.bandmembers {
  font-style: italic;
}
.title {
  background-color: white;
  color: red;
  margin:auto;
  text-align: center;
}
a:link {
  font-size: 1.5em;
  color: red;
  text-decoration: none;
}
a:visited {
  color: #00ff00;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
  background-color: #00ff00;
}
a:active {
  color: black;
  text-decoration: none;
}
h1, h2, h3 {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: .15em solid black;
  border-spacing: 0;
}
tr, td, th {
  border: .15em solid black;
}
tr {
  text-align: center;
}
td {
  font-style: italic;
}
th {
  font-size: 1.25em;
}
