header {
  font-size: 2em;
  font-family: 'Ravi Prakash', cursive;
  color: #ff6600;
  text-align: center;
}
footer {
  text-align: center;
}
.homebackground {
  background-color:  #ffe0cc;
}
a:link {
  font-size: 1.5em;
  color: #ff6600;
  text-decoration: none;
}
a:visited {
  color:  #ffb380;
  text-decoration: none;
}
a:hover {
  color: #b34700;
  font-weight: bold;
  text-decoration: none;
}
a:active {
  color: red;
  text-decoration: underline;
}
