body {
  padding-top: 70px;
  background-color: #fff0b3 !important;
}
.navbar-brand {
  color: orange !important;
  font-family: 'Ravi Prakash', cursive !important;
}
.paddingtop {
  padding-top: 20px;
}
.jumbotron {
  background-position: center top;
  color: orange !important;
  font-family: 'Ravi Prakash', cursive !important;
  height: 250px;
}
.h-divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width:100%;
  border-top:1px solid #ff6600;
}
.centerpls {
    display: block;
    margin: auto;
    width: 80%;
}
.vertical-align {
    display: flex;
    align-items: center;
}
a:link {
  color: #ff6600 !important;
  text-decoration: none !important;
}
a:visited {
  color:  #ffb380 !important;
  text-decoration: none;
}
a:hover {
  color: red !important;
  font-weight: bold !important;
  text-decoration: none !important;
}
a:active {
  color: orange !important;
  text-decoration: underline !important;
}
.img-wrapper {
  position: relative;
  padding-bottom: 5%;
  overflow: hidden;
  width: 100%;
}
